<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js"></script>
    <!-- <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js'></script> -->
</head>


<body>

    <!-- http://stackoverflow.com/questions/42191527/uncaught-typeerror-cannot-read-property-fromjson-of-undefined/42191716#42191716 -->

    <h1>Order from Hamburguesas al Sabor del Chef!</h1>
        <br>
        <button data-bind="click: reset" >Reset</button>
            <div data-bind="foreach: menu">
                <h2><span data-bind="text: $data.category"></span></h2>
                <!-- ko foreach: items -->
                    <p><span data-bind="text: name"></span> - $<span data-bind="text: price"></span>
                        <input data-bind="value: $data.quantity"
                            type="number" min="0"
                            onClick="this.select();"
                            style="width: 60px;"/>
                    </p>
                <!-- /ko -->
            </div>
            <button data-bind="click: submit_order">Submit order</button>
</body>




<script>

    var FAKE_MENU = [
        {
            category: "Tacos",
            items: [
                {name: "Pollo", price: 2.00},
                {name: "Barbacoa", price: 2.25},
                {name: "Chorizo", price: 2.50},
            ]
        },
        {
            category: "Burritos",
            items: [
                {name: "Pollo", price: 6.00},
                {name: "Barbacoa", price: 6.25},
                {name: "Chorizo", price: 6.50},
            ]
        },
    ]

    function FoodItem(data) {
        var self = this;
        self.name = data.name;
        self.price = data.price;
        self.quantity = ko.observable(data.quantity || "0");
    }

    function OrderPageViewModel() {
        var self = this;

        // self.menu = ko.observableArray(FAKE_MENU);

        // self.menu_loaded_success_callback = function(data) {
        //         var retrieved_menu = data["menu"];
        //         self.menu = ko.observable(retrieved_menu);
        //         console.log(retrieved_menu)
        //         alert(data);
        //     }
        //
        // self.get_data(menu_url).done(self.menu_loaded_success_callback);

        self.process_menu = function(menu_data) {
            var processed_menu = [];
            console.log(menu_data);
            for (i = 0; i < menu_data.length; i++) {
                console.log(i);
                var item = menu_data[i];
                console.log(item);
                var new_item = {category: item['category']};
                var food_items = item['items'];
                var new_food_items = [];
                for (j = 0; j < food_items.length; j++) {
                    var food_data = food_items[j];
                    console.log(food_data);
                    new_food_items.push(new FoodItem(food_data));
                }
                new_item['items'] = new_food_items;
                processed_menu.push(new_item);
                // processed_menu[item['category']] = new_items;
            }
            console.log(processed_menu);
            // self.menu = processed_menu;
            return processed_menu;
        }

        self.menu = self.process_menu(FAKE_MENU);

        self.reset = function(){
            console.log("reset function");
            for (var i = 0; i < self.menu.length; i++){
                var data = self.menu[i];
                var food_items = data['items'];
                console.log("data", data);
                for (var j = 0; j < food_items.length; j++){
                    var this_item = food_items[j];
                    console.log(this_item);
                    this_item.quantity(0);
                }
            }
        }

        self.submit_order = function(){

            var order_data = ko.toJSON(self.menu());

            console.log(order_data);

            // $.ajax({
            //     url: "/api/orders/submit-order",
            //     headers: {
            //         "Content-Type": "application/json"
            //     },
            //     method: "POST",
            //     // dataType: "json",
            //     data: order_data,
            //     complete: function(data) {
            //         self.updateRecipes();
            //     }
            // });
        }
    }

    ko.applyBindings(new OrderPageViewModel());

</script>
